.headChoice {
    width: 200px;
    float: left;
}

.generatedImage {
    width: 600px;
    /* height: 200px; */
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 20%;
    float: right;
}

.generatedImageB {
    width: 600px;
    padding-left: 10%;
    padding-bottom: 10%;
}