.PlayingCard {
    width: 183px;
}

.cardDiv {
    float: left;
    width: 183px;
    height: 183px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.showCards {
    width: 200px;
    height: 200px;
}

.input {
    margin: 1rem;
}

.delButton {
    width: 50px;
    height: 20px;
    background-color: chartreuse;
}

#formData {
    float: none;
    margin-left: 22%;
    margin-right: auto;
}

#PlayingBackground {
    width: 800px;
    height: 800px;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
}

#Menu {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-size: x-large;
    padding-bottom: 2.5rem;
}

#Menu a {
    text-decoration: none;
    margin-right: 0.5rem;
}

#Headline {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

#selectCards {
    width: auto;
    height: 10rem;
    margin-top: 50px;
}