body {
    background-color: #99A8A8;
}

h1 {
    color: #C94600;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.PlayingCard {
    width: 183px;
}

.cardDiv {
    float: left;
    width: 183px;
    height: 183px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.showCards {
    width: 150px;
    height: 150px;
}

.input {
    margin: 1rem;
}

.formAdmin {
    font-family: Arial, Helvetica, sans-serif;
}

.delButton {
    width: 50px;
    height: 20px;
    background-color: chartreuse;
}

.highscoreDiv {
    /* background-color: #b1928b; */
    width: 20rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

#firstDiv {
    /* background-color: #022859; */
    width: 100%;
    height: 15rem;
}

#secondDiv {
    /* background-color: #6AAED9; */
    width: 100%;
    height: 15rem;
}

#thirdDiv {
    /* background-color: #F25F29; */
    width: 100%;
    height: 15rem;
}

.chose {
    padding-top: 10rem;
    color: #101626;
    text-decoration: none;
}

#formData {
    margin-left: 22%;
    margin-right: auto;
}

#PlayingBackground {
    width: 800px;
    height: 800px;
    background-color: #6B7575;
    margin-left: auto;
    margin-right: auto;
}

#Menu {
    overflow: hidden;
    margin: auto;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    width: 30%;
    text-align: center;
}

#Menu a {
    text-decoration: none;
    margin-right: 0.5rem;
}

#Headline {
    margin: auto;
    /* width: 45%; */
    margin-bottom: 2.5rem;
}

#selectCards {
    width: auto;
    height: 10rem;
    margin-top: 50px;
    margin-left: 10rem;
}

#Menu a:hover {
    color: #C94600;
}

.chose a:hover {
    color: #C94600;
}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 600px) {}